search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\model\entity\Product\Product
	- App\model\service\Product\ProductService
	- App\model\facade\Product\ProductFacade
